.vs/*
.vscode/*
Libraries/Infrastructure/bin/*
Libraries/Infrastructure/obj/*
Libraries/Persistence.Common/bin/*
Libraries/Persistence.Common/obj/*
Libraries/Persistence.MySql/bin/*
Libraries/Persistence.MySql/obj/*
Libraries/Persistence.SqlServer/bin/*
Libraries/Persistence.SqlServer/obj/*
Presentation/WebAPI/bin/*
Presentation/WebAPI/obj/*
Presentation/WebAPI/Todo.WebAPI.xml
Presentation/VueUI/*
Libraries/Persistence.Common/bin/Debug/netstandard2.1/Todo.Persistence.Common.deps.json

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
